html, body {
	background-color: #111310;
	height: 100%;
    width: 100%;
    position: absolute;
}
.container-fluid{ 
	height: inherit;
}
#navbar {
	position: relative !important;
}
.navbar .brand {
	margin-left:20px !important;
}
.hero-unit {
	padding: 30px !important;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px !important;
	clear: both;
}
#guest-header, #timeline-header {
	font-family: 'Marcellus SC', serif;
	font-size: 250%;
	margin-top: 5px;
	padding-left: 10px;
	padding: 13px;
}
#timeline-header {
	color: #B5A46E;
	font-size: 150% !important;
	padding: 0px;
	padding-left: 15px;
	float: left;
}
.timeline-subtext {
	font-family: 'Ubuntu', sans-serif;
	font-size: 50%;
}
#clock {
	font-family: 'Marcellus SC', serif;
	text-align: center;
	color: #B5A46E;
	font-size: 150% !important;
	margin-top: 5px;
	float: left;
	margin-left: 15px;
}
#clockWrapper{
	/*margin-left: auto;
	margin-right: 49%;
	float: right;*/
}
#hrsClock{
	float: left;
	padding-left: 5px;
}
#minsClock{
	float: left;
}
#colonClock{
	float: left;
	padding-left: 1px;
	padding-right: 1px;
}
#secondsClock{
	float: left;
}
.timeline-hero-unit {
	background-color: #363932 !important;
	color: #fff !important;
	overflow: hidden;
	/*height: 79.6%;*/
	padding: 20px !important;
	top: 0;
	bottom: 0;
	position: relative;
	height: 85%;
}
#guest-left {
	text-align: center;
}
.img-size {
	height: 200px;
}
#guestnfo {
	margin-bottom: 20px;
}
.colleagues-header {
	text-align: center;
}
.img-smaller {
	height: 80px;
}
.img-gray-border {
	border: 1px solid #ddd;
}
.colleague-image {
	width: 86px;
}
.header-four-bottom-margin {
	margin-bottom: 0px !important;
}
.colleague{
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #bbb;
}
#guest-timeline-input {
	width: 300px;
	margin-bottom: 0px !important
}
.centerText {
	text-align: center;
}
/*.whatHourRow {
	line-height: 30px;
	vertical-align: bottom;
	border-top: 1px solid #232521;
	font-family: 'Ubuntu', sans-serif;
	width: 3480px;
	margin-top: 10px;
	padding-left: 1px;
	bottom: -20px;
	position: absolute;
}*/
.rightBorderTimeRow {
	/*border-right: 1px solid #232521;*/
	float: left;
	width: 144px; /*due to border*/
	position: absolute;
	bottom: -20px;
	border-top: 1px solid black;
}
.timeLineGuestRow {
	font-family: 'Ubuntu', sans-serif;
	float: left;
	width: 144px;
	/* ckelner - this is a hack */
	padding-bottom: 2000px !important;
	margin-bottom: -2000px  !important;
	border-left: 1px solid #232521;
	max-height: 800px;
	min-height: 800px;
}
.zeroZero{
	border-left: 0px !important;
}
.currentHour{
	background-color: #50524c;
}
#scrollyMcScrolls{
	width: 3480px;
	/*top: -20px;
	bottom: 0;
	position: absolute;*/
	margin-top: -20px;
}
#scrollTimeline{
	height: 103%;
	width: 3500px;
}
.lighterTextTimelineHint{
	font-family: 'Ubuntu', sans-serif;
	color: #888;
}
.noSelectText {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.guestThumbTimeline {
	width: 70px;
	height: 70px;
}
.guestTimelineEnclosure{
	border: 1px solid #232521;
	width: 130px;
	margin: 3px;
	padding: 0px !important;
	padding-left: 6px !important;
}
.guestTimelineWrapCol{
	float: left;
	margin-bottom: 14px;
}
.img-PadBottom{
	padding-bottom: 3px;
}
#resetButtonBoy{
	margin-bottom: 20px;
}
#timelineHour23{
	float: left;
	border-right: 0px !important;
}
#adminContainer{
	color: white;
	background-color: #50524c;
	height: 100%;
}
#adminAddGuest, #adminFindGuest{
	margin-top: 10px;
	color: black;
}
#addGuestRight{
	margin-left: 40px;
}
.control-group{
	margin-bottom: 30px;
}
#addGuestButton{
	margin-left: -60px;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.guestTimelineName{
    text-overflow: ellipsis;
    overflow: hidden;
}
.modal-header, .modal-body{
	color: black;
}
.guestThumbTimelineModal{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
}
.guestTimelineAmbassador{
	background-color: #B5A46E;
	color: black;
}
.badge-ambassador{
	background-color: #B5A46E;
	color: black;
	text-shadow: 0 0 0 !important;
}
.guestTimelineImportantStarIcon{
	background-image: url("/img/icon_star.png") !important;
	background-position: 0 0px !important;
}
}
